#searchbar-container {
  margin: auto;
  margin-top: 2%;
  display: flex;
  width: 30%;
  padding: 1em 1em;
  justify-content: center;
  border: 1px solid black;
}

#searchbar-input {
  width: 80%;
  font-size: 1.2em;
  border: none;
  outline: none;
}

#searchbar-image {
  min-height: 20px;
  min-width: 20px;
}
